@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: rgb(31, 31, 31);

}

.cog {
    border-color: white;
    border-style: dashed;
    background-color: transparent;
    border-width: 4px;
    border-radius: 100%;
    float: right;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

#cog3 {/* outer-most, and button */
    margin: 30px 30px;
    background-color: rgba(0,0,0,.5);
    border-style: none;
    padding: 2px;
    scale: 1.3;
    transform: rotate(270deg);
    transform-origin: center;
    transition: all 0.5s ease-in-out;
}

#cog3:hover {
    scale: 1.5;
    transform: rotate(90deg); /* do a barrel roll! */
}

#cog2 {/* outermost circle of the cog */
    z-index: 2;
    scale: .8;
}

#cog1 {/* inset 1 unit of cog2 */
    border-style: solid;
    padding: 3px;
    z-index: 2;
}

.background-slideshow {
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    inset: 0;
    pointer-events: none;
}

#layer-current, #layer-next {
    opacity: 0;
    position: absolute;
    object-fit: cover;
    transition: opacity 5s ease-in-out;
    width: 100%;
    height: 100%;
}

#layer-current { z-index: 1; }
#layer-next { z-index: 2; }

.header {
    z-index: 10;
    font-family: 'VT323', 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Console', monospace;
    text-shadow: 2px 2px 5px white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(70, 54, 114);
    height: clamp(4vh, 5cqw, 6vh);/* preferred 6% of the body's width, but resize to a minimum of 5% viewport height and 8% vh if window is narrowed */
    padding: 0 5%;
    color: white;
    font-size: clamp(1rem, 3cqw, 3cqh);/* clamp the font size so it can be no less than 1% of the root (body), preferred 3%,
    and max 4% to stay within the header's height with an acceptable margin*/

    @media screen and (max-height: 700px){
        height: clamp(42px, 8vh, 44px);/* make readable on shorter screen sizes, without layout shift */
    }

    @media screen and (max-width: 624px){
        flex-direction: column;
        justify-content: center;
        height: auto;
        min-height: 76px;
        max-height: 84px;
        padding: 15px 0;
        margin-top: -2%;
        font-size: 5vw;
    }
}

#server_title {
    position: relative;
}

header > a {
    color:inherit;
    text-decoration: none;
    height: inherit;
    display: flex;
}


#version {
    font-size: 70%;/* 60% of the header font size*/
    text-align: center;
}

.title-group {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1;
}

#navList {
    font-size: inherit;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    @media screen and (max-width: 624px){
        margin-top: 8px;
    }
}

#navList li a {
        z-index: 1;
        padding: 0 15px;
        text-align: center;
        align-items: center;
        text-decoration: none;
        color: inherit;
    }

#navList li a:hover {
        background-color: rgb(134, 115, 190);
        padding: 0 10px 20px 20px;
    }
